<body>
  <div class="container row">
    <h1>Components</h1>
    <ul>
        <% components.each do |component| %>
          <li><a href="/components/<%= component %>"><%= component %></a></li>
        <% end %>
    </ul>
  </div>
</body>
