<body>
  <div style="padding:20px;">
    <h1>Examples</h1>
    <ul>
      <% examples.each do |example| %>
        <li><a href="/examples/<%= example %>"><%= example %></a></li>
      <% end %>
    </ul>
  </div>
</body>
