<div style="font-family: arial; background: #000; color: #FFF; padding: 10px 20px;">
  <ul>
    <li style="display: inline;">A Substrakt Styleguide</li>
    <li style="display: inline;"><a style="color: #FFF;" href="/elements">Elements</a></li>
    <li style="display: inline;"><a style="color: #FFF;" href="/components">Components</a></li>
    <li style="display: inline;"><a style="color: #FFF;" href="/layouts">Layouts</a></li>
  </ul>
</div>
